<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>
{% if site.title == "blank" %}
  {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
{% else %}
  {{ site.title }}
{% endif %}
{% if page.title != "blank" and page.url != "/" %}
  | {{ page.title }}
{% endif %}
</title>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Nipuna Weerasekara",
    "url": "https://niweera.gq",
    "image": "https://niweera.gq/assets/img/prof_pic.jpg",
    "sameAs": [
      "https://facebook.com/Niweera",
      "https://twitter.com/Niweera",
      "https://instagram.com/niweera",
      "https://www.linkedin.com/in/Niweera",
      "https://github.com/Niweera",
      "https://scholar.google.com/citations?user=O8A5FNwAAAAJ&hl=en",
      "https://medium.com/@niweera",
      "https://blog.niweera.gq"
    ],
    "jobTitle": "Researcher",
    "worksFor": {
      "@type": "Organization",
      "name": "SCoRe Lab (https://scorelab.org)"
    }
  }
</script>

<meta name="description" content="{{ site.description }}">

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="The official website of Nipuna Weerasekara" />
<meta property="og:type" content="object" />
<meta property="og:title" content="Nipuna Weerasekara" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="https://niweera.gq/assets/img/og_image.png" />
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Niweera">
<meta name="twitter:creator" content="@Niweera">
<meta name="twitter:title" content="Nipuna Weerasekara">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="https://niweera.gq/assets/img/og_image.png">

<!-- Bootstrap & MDB -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/{{ site.mdb.version }}/css/mdb.min.css" integrity="{{ site.mdb.integrity.css }}" crossorigin="anonymous" />

<!-- Fonts & Icons -->
<script src="https://kit.fontawesome.com/36f09b4787.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css"  integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:100,300,400,500,700|Material+Icons">

<!-- Code Syntax Highlighting -->
<!--link rel="stylesheet" href="https://gitcdn.xyz/repo/jwarby/jekyll-pygments-themes/master/{{ site.highlight_theme }}.css" -->

<!-- Styles -->
{% if site.icon != empty %}
<link rel="icon" href="{{ site.icon }}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">

<!--Personal Scripts-->
<script src="{{ '/assets/js/quotes.js' | relative_url }}"></script>
<script src="{{ '/assets/js/spotify.js' | relative_url }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120804500-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120804500-2');
</script>


<!-- JQuery -->
{% include scripts/jquery.html %}

{% if site.enable_darkmode %}
<!-- Dark Mode -->
<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
<script src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>
{% endif %}