<div class="news">
    <h4 class="font-weight-bolder">Professional Experience</h4>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"><b> Researcher </b></td>
                <td> <a href="https://scorelab.org">SCoRe Lab</a>, Sri Lanka  </td>
                <td scope="row" class="lec-years" >2021 - Present</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"><b> Software Engineer Intern  </b></td>
                <td> <a href="https://scorelab.org">SCoRe Lab</a>, Sri Lanka  </td>
                <td scope="row" class="lec-years" >2019 - 2020</td>
            </tr>
        </table>
    </div>
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Research Experience</h4>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
          <tr class="flex">
              <td><i class="fa fa-caret-right main-name"></i></td>
              <td class="main-name"><b><a href="https://sequza.io">Sequza</a>: An experimental platform to aid vulnerability remediation</b></td>
              <td> Sequza platform is
                  developed utilizing the research outcomes obtained by analyzing the vulnerability distribution in
                  open source JavaScript repositories, and it aids the vulnerability remediation in software projects</td>
              <td scope="row" class="lec-years" >2021 - Present</td>
          </tr>

        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> <b>Large Scale Analysis on Vulnerability Remediation in Open-Source JavaScript Projects</b></td>
		  <td> Studied the vulnerability distribution in open source JavaScript repositories hosted on GitHub
              platform </td>
		  <td scope="row" class="lec-years" >2020 - Present</td>
		</tr>

		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> <b><a href="https://bugzero.io">Bug Zero</a>: A reward-based security testing platform</b></td>
		  <td> Bug Zero platform is developed to
              conduct bug bounty programs in Sri Lanka</td>
		  <td scope="row" class="lec-years">2019 - Present</td>
		</tr>
      </table>
    </div>
</div>

<hr/>

<div class="news">
    <h4 class="font-weight-bolder">Education</h4>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"><b> BSc (Hons) in Information Systems </b></td>
                <td> University of Colombo School of Computing  </td>
                <td scope="row" class="lec-years" >2017 - 2021</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"><b> Higher Education G.C.E. A/L  </b></td>
                <td> Ananda College, Colombo 10  </td>
                <td scope="row" class="lec-years" >2007 - 2015</td>
            </tr>
        </table>
    </div>
</div>

<hr/>

<div class="news">
    <h4 class="font-weight-bolder">Open-Source Projects</h4>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"> <b><a href="https://github.com/Niweera/niwder">Niwder</a></b></td>
                <td> <a href="https://niwder.niweera.gq/">Niwder</a> is a platform which helps users to transfer files between storage providers on cloud. The users can transfer a file from the internet to their own Google Drive or they can transfer a Mega.nz file or folder to their own Google Drive. In addition, the users can also convert a Google Drive share link to a Mega.nz share link. Also, the user can convert a direct download link to a Mega.nz share link. </td>
                <td scope="row" class="lec-years" >2022</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"> <b><a href="https://github.com/scorelab/DNSTool-Middleware-API">DNSTool Middleware/API</a></b></td>
                <td> Project completed for <a href="https://summerofcode.withgoogle.com/archive/2021/projects/4638981630722048/">GSoC 2021</a>. DNSTool is a system to monitor a given set of internet resources such as Domains, IPs, etc. The DNSTool Middleware/API is the main component that manages the core processing and obtaining of scan lists and their respective scan results. DNSTool Middleware/API acts as a bridge between the user interface and the back-end system. </td>
                <td scope="row" class="lec-years" >2021</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"> <b><a href="https://github.com/scorelab/Codelabz">CodeLabz</a></b></td>
                <td> Project completed for <a href="https://summerofcode.withgoogle.com/archive/2020/projects/6543684704665600/">GSoC 2020</a>. CodeLabz is a platform where the users can engage with online tutorials and the organizations can create tutorials for the users. The platform is developed using ReactJS front end library and the back end is developed using the Google Cloud Firestore and Google Firebase Real-Time database. </td>
                <td scope="row" class="lec-years" >2020</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"> <b><a href="https://github.com/Niweera/node-asterer">Node-ASTerer</a></b></td>
                <td> A <a href="https://www.npmjs.com/package/@niweera/node-asterer">CLI tool</a> to generate the AST of a given JavaScript file and save it in *.json format. </td>
                <td scope="row" class="lec-years" >2020</td>
            </tr>

            <tr class="flex">
                <td><i class="fa fa-caret-right main-name"></i></td>
                <td class="main-name"> <b><a href="https://github.com/Niweera/node-complexer">Node-Complexer</a></b></td>
                <td> A <a href="https://www.npmjs.com/package/@niweera/node-complexer">CLI tool</a> to get the complexity of a given JavaScript AST. </td>
                <td scope="row" class="lec-years" >2020</td>
            </tr>
        </table>
    </div>
</div>
