---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// Spotify CSS

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: var(--global-bg-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 999;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  -webkit-box-shadow: -1px 4px 10px -4px #000000;
  box-shadow: -1px 4px 10px -4px #000000;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--global-bg-color) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s, fadeOut 1s ease-in 10s;
  animation: fadeIn 1s, fadeOut 1s ease-in 10s;
  animation-fill-mode: forwards;
}

/* Popups for Online Status */
/* Popup container - can be anything you want */
.popup-desktop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup-desktop .popup-desktop-text {
  visibility: hidden;
  width: 160px;
  background-color: var(--global-bg-color);
  color: var(--global-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 999;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  -webkit-box-shadow: -1px 4px 10px -4px #000000;
  box-shadow: -1px 4px 10px -4px #000000;
}

/* Popup arrow */
.popup-desktop .popup-desktop-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup-desktop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  to {opacity: 0;}
  from {opacity: 1;}
}

@keyframes fadeOut {
  to {opacity: 0;}
  from {opacity: 1;}
}

#spotifyNow:hover {
  color:#1DB954;
}

@media screen and (max-width: 600px) {
  #hideThis {
    visibility: hidden;
  }
}
