---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title font-weight-bolder">{{ page.title }}</h1>
    <p class="post-description">{{ page.description | replace: "~~oQuote~~", "&ldquo;" | replace: "~~cQuote~~", "&rdquo;" | replace: "~~mdash~~", "&mdash;" | replace: "~~op~~", "<em>" | replace: "~~cl~~", "</em>" |  replace: "~~href1~~", "<a href='https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/software-technology/computer-science-engineering-teaching-team'>" | replace: "~~href2~~", "</a>"  }}</p>
  </header>
  <article>
    {{ content }}
  </article>

</div>
